nav {
display: block;
}             
   
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.topnav {
overflow: hidden;
background-color: #333;
}

.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: #04AA6D;
color: white;
}

h1{
    color:firebrick;
}
h2{
    color:chocolate
}
